*

!README.md

!.gitignore

!.Xresources
!.zshrc
!.gtkrc-2.0
!.xprofile
!.xbindkeysrc
!.vimrc

!.xprofile.d/
!.xprofile.d/*
!.Xresources.d/
!.Xresources.d/*

!.config/
!.config/autostart/
!.config/autostart/*
!.config/conky/
!.config/conky/*
!.config/gtk-3.0/settings.ini
!.config/i3/
!.config/i3/*
!.config/neofetch/
!.config/neofetch/*
!.config/openbox/
!.config/openbox/*
!.config/polybar/
!.config/polybar/*
!.config/powerline/
!.config/powerline/**
!.config/ranger/
!.config/ranger/*
!.config/pasta.txt

!bin/
!bin/lock
!bin/man
!bin/oof
!bin/snip

.config/ranger/history/
.config/ranger/bookmarks/
