xset -b

export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export PATH=$PATH:$HOME/bin:$HOME/.local/bin

if [ -f ~/.Xresources ]; then
    xrdb ~/.Xresources
fi

xcompmgr -cf -I 0.1 -O 0.1 -r 0 &
