xset -b

# Keybindings for volume buttons and backlight
xbindkeys

# light-locker lock screen
light-locker --lock-on-suspend &

# ibus
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus
#xss-lock -- light-locker-command -l &
xrdb ~/.Xresources
